<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/pagina1">pagina 1</a></li>
    <li><a href="/pagina2">pagina 2</a></li>
    <li><a href="/pagina3">pagina 3</a></li>
</ul>
